@media only screen and (max-width: 600px) {
  #login-section {
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }
}

#login-section {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#username, #password {
  display: inline-block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.loginBtn {
  margin-top: 5px;
}