.note-display-container {
  width: 531px;
  height: 211px;
  padding: 0px 25px 0 20px;
  margin: 0px 28px 28px 0;
  background: #f6f6f0;
  border-radius: 6px;
  border: 3px solid #1b1b1e;
}

#sheet-img {
  width: 535px;
}