.points-container {
  max-width: 180px;
  text-align: center;
  border: 2px solid #1b1b1f;
  border-radius: 100px;
  font-family: omnes-pro, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
}

.points-container p {
  color: #4fb7ec;
  font-weight: 600;
  font-size: 0.75em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.points-container p span {
  font-size: 3em;
  font-weight: 100;
  clear: both;
}
